:target {
   background-color: #ffecb4;
}

html {
  scroll-padding-top: 12.5rem;
}


body {
  margin-left: 0rem;
  margin-right: 0rem;
  width: 100%;
  display: block;
}

div.navbar-fixed-top {
  overflow: hidden;
  background-color: #f393c3;
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  font-family: Trebuchet MS;
  height: 6rem;
  margin-left: 0.125rem;
  margin-right: 0.125rem;
}
div.container {
  margin-left: 0.125rem;
  margin-right: 0.125rem;
}
  
div.navbar.a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 0.875rem 1rem;
  text-decoration: none;
  font-family: Trebuchet MS;
}
div.navbar.a:hover {
  background: #ddd;
  color: white;
}
div.main{
  margin-top: 12.5rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #543c04;
  font-family: Trebuchet MS;
}

li {
  float: left;
  font-family: Trebuchet MS;
  font-size: 1.063rem;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0.875rem 1.063rem;
  text-decoration: none;
  font-family: Trebuchet MS;
}

li a:hover:not(.active) {
  background-color: white;
  font-family: Trebuchet MS;
}

.active {
  background-color: #f393c3;
  font-family: Trebuchet MS;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


hr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0.063rem solid #f393c3;
}

hr.footnote {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0.063rem solid #d9d9d9;
}

blockquote {
  display: block;
  margin-left: 18.75rem;
  margin-right: 18.75rem;
  font-family: Trebuchet MS;
  color: black;
  font-size: 1rem;
  text-indent:2.188rem;
}

blockquote.no-indent {
   display: block;
  margin-left: 18.75rem;
  margin-right: 18.75rem;
  font-family: Trebuchet MS;
  color: black;
  font-size: 1rem;
  text-indent:0rem;
}

p.introduction {
  text-indent:0rem;
  text-align:center;
  font-family: Trebuchet MS;
  font-size: 1rem;
  color: black;
}

p.home {
  text-indent:0rem;
  text-align:center;
  font-family: Trebuchet MS;
  font-size: 1rem;
  color: black;
  text-align: justify;
  text-justify: inter-word;
}

p.caption {
  text-indent:0rem;
  text-align:center;
  font-family: Trebuchet MS;
  font-size: 1rem;
  color: #d6839b;
}


p.footer {
  text-align: justify;
  text-justify: inter-word;
  text-indent:0rem;
  text-align:center;
  font-family: Trebuchet MS;
  font-size: 0.875rem;
  color: #543c04;
}

p {
text-align: left;
font-family: Trebuchet MS;
font-size: 1rem;
color: black;
margin-right: 10.625rem;
margin-left: 10.625rem;
text-indent: 2.188rem;
}

p.right {
text-align: right;
font-family: Trebuchet MS;
font-size: 1rem;
color: black;
text-decoration: underline;
margin-right: 10.625rem;
margin-left: 10.625rem;
text-indent: 2.188rem;

}

p.closer {
text-align: left;
font-family: Trebuchet MS;
font-size: 1rem;
color: black;
margin-right: 10.625rem;
margin-left: 10.625rem;
text-indent:500px;

}

div.img {
  margin-right:150px;
margin-left:150px;
text-indent:31.25rem;
}

p.uninterrupted {
font-family: Trebuchet MS;
font-size: 1rem;
color: black;
margin-right: 10.625rem;
margin-left: 10.625rem;
text-indent:0rem;

}

div.image {
text-align: left;
margin-right: 10.625rem;
margin-left: 10.625rem;
  
}
  

div.statement {
text-align: left;
font-family: Trebuchet MS;
font-size: 1rem;
color: black;
text-decoration: underline;
margin-right: 10.625rem;
margin-left: 10.625rem;
  
}


h1 {
font-family: Trebuchet MS;
font-size: 25px;
margin-right:150px;
margin-left:150px;
color: #f393c3;
text-align:left;
}

h2 {
font-family: Trebuchet MS;
font-size: 20px;
margin-right:100px;
margin-left:100px;
color: black;
text-align:center;
}

h3 {
font-family: Trebuchet MS;
font-size: 27px;
margin-right:150px;
margin-left:150px;
color: #f393c3;
text-align:center;
}


p.note /* name of your class here */ {
color: rgb(255,36,0);  
line-height: 1.5;
margin-right:100px;
margin-left:100px;
}


div.notes /* name of your class here */ {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;   
} 

div.editorial{
text-align: left;
font-family: Trebuchet MS;
margin-right:150px;
margin-left:150px; 
}
  
span.label{
text-align: left;
font-family: Trebuchet MS;
font-weight: bold;
color: black;
}

p.editorial{
  text-align: left;
  font-family: Trebuchet MS;
  margin-right:30px;
  margin-left:30px;
  text-indent:0px;
}

a:link
{
   color: steelblue;
}
a:hover {
color:purple;}
