div.navbar {
  overflow: hidden;
  background-color: #d6839b;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: Courier New;
  height: 200px;
}
div.navbar.a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Courier New;
}
div.navbar.a:hover {
  background: #ddd;
  color: white;
}
div.main{
  margin-top: 200px;
}
